:root {
  --slides-width: 600px;
  --slides-heigth: 337px;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#frame {
  border: 4px black solid;
  width: fit-content;
  height: fit-content;
}
img[src$=".svg"] {
  width: 300px;
  height: 300px;
}

#slide {
  width: var(--slides-width);
  height: var(--slides-heigth);
}

#slide > img {
  width: var(--slides-width);
  height: var(--slides-heigth);
}
